@{
    ViewData["Title"] = "Tech Trade Up - Get Paid. Give Back.";
}

<div role="main" class="main" id="home">
<section
    class="section bg-color-light-scale-2 position-relative border-0 m-0">
    <div
        class="position-absolute top-0 left-0 w-50pct w-lg-auto d-none d-xl-block">
        <img
            src="~/img/slidess/slide-corporate-8-1-1.jpg"
            class="w-100 appear-animation animated fadeInRightShorter appear-animation-visible"
            data-appear-animation="fadeInRightShorter"
            data-appear-animation-delay="1000"
            data-appear-animation-duration="1s"
            alt=""
            style="animation-duration: 1s; animation-delay: 1000ms;"/>
    </div>
    <div
        class="position-absolute top-0 right-0 w-50pct w-lg-auto d-none d-xl-block">
        <img
            src="~/img/slidess/slide-corporate-8-1-2.jpg"
            class="w-100 appear-animation animated fadeInLeftShorter appear-animation-visible"
            data-appear-animation="fadeInLeftShorter"
            data-appear-animation-delay="1000"
            data-appear-animation-duration="1s"
            alt=""
            style="animation-duration: 1s; animation-delay: 1000ms;"/>
    </div>
    <div class="container py-5 my-5">
        <div class="row justify-content-center py-3">
            <div class="col-lg-7 text-center">
                <div
                    class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3
                        class="position-relative text-color-dark text-5 line-height-5 font-weight-semibold ls-0 px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible"
                        data-appear-animation="fadeInDownShorterPlus"
                        data-plugin-options="{'minWindowWidth': 0}"
                        style="animation-delay: 100ms;">
                        <span
                            class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
                            <img
                                src="~/img/slides/slide-title-border-light.png"
                                class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible"
                                data-appear-animation="fadeInRightShorter"
                                data-appear-animation-delay="250"
                                data-plugin-options="{'minWindowWidth': 0}"
                                alt=""
                                style="animation-delay: 250ms;"/>
                        </span>
                        Tech Trade Up
                        <span
                            class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
                            <img
                                src="~/img/slides/slide-title-border-light.png"
                                class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible"
                                data-appear-animation="fadeInLeftShorter"
                                data-appear-animation-delay="250"
                                data-plugin-options="{'minWindowWidth': 0}"
                                alt=""
                                style="animation-delay: 250ms;"/>
                        </span>
                    </h3>
                    <h1
                        class="text-color-dark font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible"
                        data-appear-animation="blurIn"
                        data-appear-animation-delay="500"
                        data-plugin-options="{'minWindowWidth': 0}"
                        style="animation-delay: 500ms;">
                        Get Paid. Give Back.
                    </h1>
                    <p
                        class="text-4-5 text-color-dark font-weight-light opacity-7 text-center mb-4 initialized appear-animation animated blurIn appear-animation-visible"
                        data-appear-animation="blurIn"
                        data-appear-animation-delay="500"
                        data-plugin-options="{'minWindowWidth': 0}"
                        style="animation-delay: 500ms;">
                        A Technology Trade In Program to Maximize Value, Drive
                        Innovation & Advance ESG Goals
                    </p>

                    <a
                        href="#"
                        class="btn btn-primary btn-modern font-weight-bold text-2 py-3 btn-px-5 mt-2 appear-animation animated fadeInUpShorter appear-animation-visible"
                        data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="1800"
                        data-plugin-options="{'minWindowWidth': 0}"
                        style="animation-delay: 1800ms;">
                        GET STARTED NOW <i class="fas fa-arrow-right ms-2"></i>
                    </a
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="container my-1 border-0 position-relative py-0"
    id="whoweare">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="ms-auto py-5">
                            <div class="px-3 py-5">
                                <p
                                    class="text-4-5 line-height-7 appear-animation text-justify"
                                    data-appear-animation="fadeInUpShorterPlus"
                                    data-appear-animation-delay="400">
                                    Welcome to the future of IT asset management. The Tech
                                    Trade Up Program Powered by PlanITROI provides a secure
                                    and profitable technology trade-in process for your IT
                                    devices, ensuring that traded-in devices are securely
                                    refurbished and remarketed as affordable technology
                                    through retail channels to their next users. This
                                    innovative program not only offers the highest recovery
                                    values for your organization by trading in your retired
                                    or end-of-life IT assets but also promotes
                                    sustainability by extending the lifecycle of technology
                                    products.
                                </p>
                                <p
                                    class="text-4-5 line-height-7 appear-animation text-justify mb-0"
                                    data-appear-animation="fadeInUpShorterPlus"
                                    data-appear-animation-delay="400">
                                    The Tech Trade Up Program is tailored for Commercial and
                                    Enterprise Organizations, Resellers/VARs, Education and
                                    Government entities. Transform your idle, retired or end
                                    of life Apple and Windows devices into significant
                                    credits. Tech Trade Up, powered by PlanITROI, is a
                                    <a
                                        href="https://devicepartner.microsoft.com/en-us/communications/comm-resource-center-microsoft-authorized-refurbisher"
                                        class="highlight-animated px-0"
                                        data-appear-animation="highlight-animated-start"
                                        data-appear-animation-delay="800"
                                        data-plugin-options="{'flagClassOnly': true}">
                                        Microsoft Authorized Refurbish Partner
                                    </a
                                    >
                                    and
                                    <a
                                        href="https://sustainableelectronics.org/"
                                        class="highlight-animated px-0"
                                        data-appear-animation="highlight-animated-start"
                                        data-appear-animation-delay="800"
                                        data-plugin-options="{'flagClassOnly': true}">
                                        R2v3 Certified
                                    </a
                                    >, creating operational efficiency AND delivering the
                                    HIGHEST RECOVERY value for your investments in
                                    technology and innovation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="section bg-color-grey-scale-1 section-height-3 section-no-border appear-animation animated fadeIn appear-animation-visible mt-0"
    data-appear-animation="fadeIn"
    style="animation-delay: 100ms;">
<div class="container">
<!-- <div class="row">
    <div
        class="col text-center appear-animation animated fadeInUpShorter appear-animation-visible"
        data-appear-animation="fadeInUpShorter"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;"
    >
        <h2 class="font-weight-normal text-6 mb-5">
            Our <strong class="font-weight-extra-bold">Services</strong>
        </h2>
    </div>
</div> -->

<div class="row">
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeInLeftShorter appear-animation-visible"
        data-appear-animation="fadeInLeftShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-user-following icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">Elegible Devices</h4>
                <p>
                    Maximize Your IT Asset Value with Our Trade-In Program for
                    Apple and Windows Devices
                </p>
                <a
                    href="#elegible-devices"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-layers icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">How IT Works</h4>
                <p>Seven Steps to Trading In Your IT Assets</p>
                <a
                    href="#how-it-works"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeInRightShorter appear-animation-visible"
        data-appear-animation="fadeInRightShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-calculator icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">IT PAYS to DO GOOD</h4>
                <p>Make a Difference with Every Trade-In</p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-lg-3">
    <div
        class="col-lg-4 mb-4 mb-lg-0 appear-animation animated fadeInLeftShorter appear-animation-visible"
        data-appear-animation="fadeInLeftShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-star icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">
                    Secure & Sustainable Services
                </h4>
                <p>Enhance Your Trade In Values with ITAD Services</p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 mb-lg-0 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-drop icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">FAQs</h4>
                <p>
                    General Information, Process, Logistics and Payment FAQs
                </p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section class="container my-4 py-4" id="elegible-devices">
    <div class="row">
        <div class="col">
            <h3>Trade In Program Elegible Assets</h3>
            <!-- <p class="font-weight-bold positive-ls-3 text-4-5 mb-0">
                Turn your used devices into cash in just five easy steps!
            </p> -->
        </div>
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <img
                class="lazyload img-fluid"
                alt="Speed Performance"
                width="600"
                src="~/img/assets.png"/>
        </div>
    </div>
</section>

<section
    id="how-it-works"
    class="section section-height-3 bg-color-grey-scale-3 border-0 m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>The Tech Trade Up Simple Seven-Step Process</h3>
                <div class="process process-vertical py-4">
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">1</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Start Your Upgrade</h4>
                            <p class="mb-0">Register at TechTradeUp.com to initiate your trade-in account. </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Personalized Quote</h4>
                            <p class="mb-0">
                                Receive a comprehensive quote tailored to your devices from PlanITROI, ensuring you and your Technology Partner understand the value and process ahead.
                            </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">3</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Hassle-Free Logistics</h4>
                            <p class="mb-0">
                                PlanITROI coordinates the retrieval of all devices, offering optional Pick, Pack & Ship services to streamline the process.
                            </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">4</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Detailed Validation Report</h4>
                            <p class="mb-0">
                                After your devices are received and thoroughly validated, PlanITROI provides a detailed report outlining the trade-in value of each device by receipt grade, with all serialized data, ensuring transparency and trust.
                            </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">5</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Certified Data Security</h4>
                            <p class="mb-0">
                                With a commitment to your data's security, PlanITROI issues an electronic Certificate of Data Destruction, guaranteeing 100% data erasure and peace of mind.
                            </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">6</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Transparent Settlement</h4>
                            <p class="mb-0">
                                PlanITROI collaborates with you to review the settlement report, detailing device grades and finalizing the process with direct payment or credit to your organization or your Technology Partner. Payments are executed on the 20th of every month.

                            </p>
                        </div>
                    </div>
                    <div class="process-step appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">7</strong>
                        </div>
                        <div class="process-step-content">
                            <h4 class="mb-1 text-4 font-weight-bold">Sustainable Impact Reporting</h4>
                            <p class="mb-0">
                                PlanITROI provides an Environmental Social Governance (ESG) impact report, showcasing the positive environmental effects of your tech trade-in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container py-5 my-4">
    <div class="row counters text-dark">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <div class="counter">
                <strong class="text-13 mb-1">20+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">
                    Year in business
                </label
                >
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <div class="counter">
                <strong class="text-13 mb-1">2,000+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">
                    Satisfied Clients
                </label
                >
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-sm-0">
            <div class="counter">
                <strong class="text-13 mb-1">1,000,000+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">
                    Devices Trade-in
                </label
                >
            </div>
        </div>
    </div>
</div>
</div>

<footer id="footer" class="mt-0">
    <div class="container py-5 my-4">
        <div class="row gy-4">
            <div class="col-lg-2 align-self-center mb-4 mb-lg-0">
                <a href="index.html" class="text-decoration-none">
                    <img
                        src="/assets/Content/landing/img/logo_white.png"
                        width="125"
                        height="35"
                        class="img-fluid"
                        alt="Footer Logo"/>
                </a>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Contact us for:</h4>
                <p class="text-3-5">
                    Program Details & Quotes<br/>
                    Product Pick-Up/Logistics/Status<br/>
                    Reporting<br/>
                    Marketing Materials or Sales Calls<br/>
                    Phone:
                    <a href="tel:18883972444" class="text-decoration-none">
                        1-888-397-2444
                    </a
                    ><br/>
                    Email:
                    <a
                        href="mailto:techtradeup@planitroi.com"
                        class="text-decoration-none">
                        techtradeup&#64;planitroi.com
                    </a
                    >
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-dark-scale-2">
        <div class="container py-2">
            <div class="row py-4">
                <div
                    class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                    <p class="text-color-grey text-3-5">
                        © Copyright 2023 PlanITROI, Inc. All Rights Reserved.
                    </p>
                </div>
                <div
                    class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
                    <ul
                        class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big">
                        <li class="social-icons-linkedin">
                            <a
                                href="https://www.linkedin.com/company/planitroi"
                                target="_blank"
                                title="Linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>