@{
    ViewData["Title"] = "Tech Trade Up - Get Paid. Give Back.";
}

<style>
.text-content {
    position: relative;
    z-index: 2;
}

.triangle {
  fill: green; 
  width: 16px;  
  height: auto; 
}

.content {
  display: flex; 
  align-items: center; 
  gap: 4px; 
}

.image-container {
    position: relative;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
    z-index: 1; /* Asegúrate de que esté por encima de la imagen pero debajo del texto */
}

/* Asegúrate de que el contenido de texto esté por encima del pseudo-elemento */
.text-content {
    position: relative;
    z-index: 2;
}
</style>

<div role="main" class="main">
<div class="position-relative">
    <div class="d-none d-sm-block position-absolute top-50pct transform3dy-n50 right-15 z-index-3 pe-3">
        <ul class="d-flex flex-column social-icons social-icons-clean social-icons-icon-light social-icons-medium">
            <li class="social-icons-instagram">
                <a href="http://www.instagram.com/" class="text-color-quaternary" target="_blank" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="social-icons-twitter my-2">
                <a href="http://www.twitter.com/" class="text-color-quaternary" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="social-icons-facebook">
                <a href="http://www.facebook.com/" class="text-color-quaternary" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="home" class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual custom-dots-style-1 dots-inside dots-horizontal-center show-dots-hover show-dots-xs dots-light nav-style-1 nav-inside nav-inside-plus nav-light nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000, 'autoplay': false}" style="height: 100vh;">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <!-- Carousel Slide 2 -->
                <div class="owl-item position-relative" style="background-image: url(img/home/ttu_homepage.png); background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-12 text-center mb-4 pb-5 pb-lg-0">
                                <div
                                    class="position-relative text-color-dark text-5 line-height-5 font-weight-semibold ls-0 px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible d-flex justify-content-center"
                                    data-appear-animation="fadeInDownShorterPlus"
                                    data-plugin-options="{'minWindowWidth': 0}"
                                    style="animation-delay: 100ms;">
                                    <span
                                        class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
                                        <img
                                            src="~/img/slides/slide-title-border-light.png"
                                            class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible bg-white"
                                            data-appear-animation="fadeInRightShorter"
                                            data-appear-animation-delay="250"
                                            data-plugin-options="{'minWindowWidth': 0}"
                                            alt=""
                                            style="animation-delay: 250ms;"/>
                                    </span>
                                    <img
                                        src="~/img/logos/logo_white.png"
                                        class="w-50 appear-animation animated fadeInRightShorter appear-animation-visible bg-primary rounded px-2 mb-2"
                                        data-appear-animation="fadeInRightShorter"
                                        data-appear-animation-delay="1000"
                                        data-appear-animation-duration="1s"
                                        alt=""
                                        style="animation-duration: 1s; animation-delay: 1000ms;"/>
                                    <span
                                        class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
                                        <img
                                            src="~/img/slides/slide-title-border-light.png"
                                            class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible"
                                            data-appear-animation="fadeInLeftShorter"
                                            data-appear-animation-delay="250"
                                            data-plugin-options="{'minWindowWidth': 0}"
                                            alt=""
                                            style="animation-delay: 250ms;"/>
                                    </span>
                                </div>
                                <div class="container d-flex justify-content-center">
                                    <div
                                        class="content text-color-dark font-weight-extra-bold text-7 appear-animation animated blurIn appear-animation-visible bg-white p-1 rounded mb-2"
                                        data-appear-animation="blurIn"
                                        data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}"
                                        style="animation-delay: 500ms;">
                                        <span>Get Paid</span>
                                        <svg class="triangle" viewBox="0 0 24 24">
                                            <polygon points="0,0 24,12 0,24"/>
                                        </svg>
                                        <span>To Do Good</span>
                                        <svg class="triangle" viewBox="0 0 24 24">
                                            <polygon points="0,0 24,12 0,24"/>
                                        </svg>
                                        <span>Affordable Technology</span>
                                    </div>
                                </div>

                                <div class="container d-flex justify-content-center">
                                    <div class="content text-color-dark font-weight-extra-bold text-5 appear-animation animated blurIn appear-animation-visible bg-white p-1 rounded mb-4"
                                         data-appear-animation="blurIn"
                                         data-appear-animation-delay="500"
                                         data-plugin-options="{'minWindowWidth': 0}"
                                         style="animation-delay: 500ms;">
                                        <span>Fast</span>
                                        <svg class="triangle" viewBox="0 0 24 24">
                                            <polygon points="0,0 24,12 0,24"/>
                                        </svg>
                                        <span>Easy</span>
                                        <svg class="triangle" viewBox="0 0 24 24">
                                            <polygon points="0,0 24,12 0,24"/>
                                        </svg>
                                        <span>Secure</span>
                                        <svg class="triangle" viewBox="0 0 24 24">
                                            <polygon points="0,0 24,12 0,24"/>
                                        </svg>
                                        <span>Guaranteed Highest Payout</span>
                                    </div>
                                </div>
                                <a href="#about-start" class="btn btn-gradient custom-btn-effect-1 custom-border-radius-1 d-inline-flex align-items-center font-weight-semibold text-3-5 btn-px-5 btn-py-3 appear-animation" data-hash data-hash-offset="0" data-hash-offset-lg="32" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600" data-appear-animation-duration="1.7s">
                                    GET STARTED
                                    <img width="15" height="15" src="img/demos/one-page-agency/icons/arrow-down.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'removeClassAfterInit': 'fadeIn', 'extraClass': 'svg-fill-color-light position-relative bottom-1 ms-4'}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about-start" class="section section-height-3 bg-transparent border-0 m-0">
    <div class="container py-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 pe-lg-5 mb-5 mb-lg-0">
                <div class="overflow-hidden">
                    <h2 class="text-color-primary font-weight-semibold text-3 line-height-7 positive-ls-2 mb-0 appear-animation" data-appear-animation="maskUp">ABOUT TechTradeUp</h2>
                </div>
                @* <div class="overflow-hidden mb-3"> *@
                @*     <h3 class="text-color-dark font-weight-bold text-transform-none line-height-1 text-10 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Who We Are</h3> *@
                @* </div> *@
                @* <p class="text-color-dark custom-font-secondary text-5-5 line-height-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit a met, consectetur adipiscing elit morbi imperdiet libero. </p> *@
                <p
                    class="text-4-5 line-height-7 appear-animation text-justify"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="600">
                    TechTradeUp powered by PlanITROI allows for easy and secure Trade-In of IT and mobile devices adding purchasing power to Trade-Up to new devices and services, helping to expand purchasing power through your preferred technology partner. TechTradeUp’s innovative program offers guaranteed highest recovery values while promoting ESG sustainability by extending the lifecycle of devices to people who need affordable technology. The TechTradeUp Program is tailored for Resellers/VARs, Enterprises, Businesses, Education and Government institutes who want to transform their idle, retired or end of life devices into cash for purchasing new technology.
                </p>
                <div class="overflow-hidden mb-3">
                    <h3 style="line-height: 1.2 !important;" class="text-color-dark font-weight-bold text-transform-none text-8 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Your Retired Devices Can Change Lives. Here's How:</h3>
                </div>
                <p
                    class="text-4-5 line-height-7 appear-animation text-justify"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="600">
                    By allowing us to buy your retired computing devices, we fulfill our mission together to change lives with affordable technology. Help us make your nothing into someone else’s everything while keeping the planet sustainable.


                </p>
                @* <p class="text-3-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> *@
                @* <a href="#about-start-next" class="d-inline-flex align-items-center text-color-primary font-weight-bold text-4 text-decoration-none custom-link-effect-1 appear-animation" data-hash data-hash-offset="0" data-hash-offset-lg="32" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800"> *@
                @*     Find Out More *@
                @*     <img width="15" height="15" src="img/demos/one-page-agency/icons/arrow-down.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'removeClassAfterInit': 'fadeIn', 'extraClass': 'svg-fill-color-primary ms-2'}"/> *@
                @* </a> *@
            </div>
        </div>
    </div>
</section>

<section
    id="about-start-next"
    class="section bg-color-grey-scale-1 section-height-3 section-no-border appear-animation animated fadeIn appear-animation-visible mt-0 mb-0"
    data-appear-animation="fadeIn"
    style="animation-delay: 100ms;">
<div class="container">
<!-- <div class="row">
    <div
        class="col text-center appear-animation animated fadeInUpShorter appear-animation-visible"
        data-appear-animation="fadeInUpShorter"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;"
    >
        <h2 class="font-weight-normal text-6 mb-5">
            Our <strong class="font-weight-extra-bold">Services</strong>
        </h2>
    </div>
</div> -->

<div class="row">
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeInLeftShorter appear-animation-visible"
        data-appear-animation="fadeInLeftShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-user-following icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">Elegible Devices</h4>
                <p>
                    Maximize Your IT Asset Value with Our Trade-In Program for
                    Apple and Windows Devices
                </p>
                <a
                    href="#elegible-devices"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-layers icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">How IT Works</h4>
                <p>Seven Steps to Trading In Your IT Assets</p>
                <a
                    href="#how-it-works"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 appear-animation animated fadeInRightShorter appear-animation-visible"
        data-appear-animation="fadeInRightShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-calculator icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">IT PAYS to DO GOOD</h4>
                <p>Make a Difference with Every Trade-In</p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-lg-3">
    <div
        class="col-lg-4 mb-4 mb-lg-0 appear-animation animated fadeInLeftShorter appear-animation-visible"
        data-appear-animation="fadeInLeftShorter"
        data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-star icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">
                    Secure & Sustainable Services
                </h4>
                <p>Enhance Your Trade In Values with ITAD Services</p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="col-lg-4 mb-4 mb-lg-0 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn"
        data-appear-animation-delay="200"
        style="animation-delay: 200ms;">
        <div
            class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
                <i class="icon-drop icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
                <h4 class="mb-2 font-weight-bold">FAQs</h4>
                <p>
                    General Information, Process, Logistics and Payment FAQs
                </p>
                <a
                    href="#"
                    class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
                    Read More
                    <div
                        class="animated-icon animated fadeIn svg-fill-color-dark ms-2">
                        <!--?xml version="1.0" ?-->
                        <svg
                            version="1.1"
                            viewBox="0 0 50 50"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            id="icon_81704397676900"
                            data-filename="arrow-right.svg"
                            width="27"
                            height="27">
                            <polygon
                                points="1,26 44.586,26 38.293,32.293 39.707,33.707 48.414,25 39.707,16.293 38.293,17.707 44.586,24 1,24  ">
                            </polygon>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

@* <section id="what-we-do" class="section bg-gradient overflow-hidden border-0 m-0 pb-0"> *@
@*     <div class="container pt-5 mt-2"> *@
@*         <div class="row justify-content-center"> *@
@*             <div class="col-lg-7 col-xl-5 pe-lg-5 pe-xl-0 pb-lg-5 mb-5 mb-xl-0"> *@
@*                 <h2 class="text-color-primary font-weight-semibold text-3 positive-ls-2 mb-0">OUR SERVICES</h2> *@
@*                 <h3 class="text-color-dark font-weight-bold text-transform-none text-10 mb-5">What We Do</h3> *@
@*                 <div class="pe-5"> *@
@*                     <div class="d-flex"> *@
@*                         <img width="65" height="65" src="img/demos/one-page-agency/icons/seo-edit.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/> *@
@*                         <div class="ms-4"> *@
@*                             <h4 class="font-weight-bold text-5 mb-2">Web Design</h4> *@
@*                             <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorem et ut praesentium consectetur? </p> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="d-flex my-3"> *@
@*                         <img width="65" height="65" src="img/demos/one-page-agency/icons/seo-notebook.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/> *@
@*                         <div class="ms-4"> *@
@*                             <h4 class="font-weight-bold text-5 mb-2">Web Development</h4> *@
@*                             <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tenetur eligendi maxime quasi veritatis modi blanditiis? </p> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="d-flex"> *@
@*                         <img width="65" height="65" src="img/demos/one-page-agency/icons/seo-phone-tablet.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/> *@
@*                         <div class="ms-4"> *@
@*                             <h4 class="font-weight-bold text-5 mb-2">Mobile Apps</h4> *@
@*                             <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, nam harum eos sunt. Lorem ipsum dolor sit a met. </p> *@
@*                         </div> *@
@*                     </div> *@
@*                     <a href="#googlemaps" class="d-inline-flex align-items-center text-color-primary font-weight-bold text-4 text-decoration-none custom-link-effect-1" data-hash> *@
@*                         Contact Us *@
@*                         <img width="15" height="15" src="img/demos/one-page-agency/icons/arrow-down.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'removeClassAfterInit': 'fadeIn', 'extraClass': 'svg-fill-color-primary ms-2'}"/> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-lg-5 col-xl-7 ps-0 ps-sm-5 pe-0 pt-lg-5 pt-xl-0 mt-lg-5 mt-xl-0"> *@
@*                 <div class="position-relative"> *@
@*                     <div class="position-absolute top-50pct transform3dy-n50 z-index-1" style="right: 80%;"> *@
@*                         <img src="img/demos/one-page-agency/mobile-ss.jpg" class="box-shadow-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" alt=""/> *@
@*                     </div> *@
@*                     <img src="img/demos/one-page-agency/desktop-ss.jpg" class="img-fluid box-shadow-5 appear-animation" data-appear-animation="fadeInUpShorter" alt=""/> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@

<section class="section border-0 m-0 bg-color-white" id="elegible-devices">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2 class="text-color-primary font-weight-semibold text-3 positive-ls-2 mb-0">Eligible Devices</h2>
                <h3 class="text-color-dark font-weight-bold text-transform-none text-10 mb-5">Trade In Program Eligible Assets</h3>
            </div>
        </div>
        <div class="row align-items-center text-center mb-5">
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-sm-0">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-sm-0">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
            <div class="col-sm-4 col-xl-2">
                <img
                    src="img/blog/square/blog-1.jpg"
                    alt
                    class="img-fluid"
                    style="max-width: 140px"/>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <p
                class="text-4-5 line-height-7 appear-animation text-justify"
                data-appear-animation="fadeInUpShorter"
                data-appear-animation-delay="600">
                Above are the eligible Windows, Apple and Chromebook devices. PlanITROI offers a Guarantee to be
                the Highest Trade-in value based on PlanITROI’s <a class="text-color-primary cur-pointer">transparent grading system</a>
                evaluating cosmetic condition, functionality and completeness. PlanITROI is able to offer the
                Guarantee to be the Highest Trade-in value because it’s a key supplier of high quality refurbished
                and recertified Windows, Apple and Chromebook devices to the largest Retailers and VARs sold in the USA.
            </p>
        </div>

    </div>
</section>

<section id="it-pays" class="section parallax border-0 p-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'scrollableParallax': true, 'scrollableParallaxMinWidth': 991, 'startOffset': 5, 'cssProperty': 'width', 'cssValueStart': 40, 'cssValueEnd': 100, 'cssValueUnit': 'vw'}" data-image-src="img/blank.gif">
    <div class="d-flex justify-content-center">
        <div class=" overflow-hidden">
            <div class="container custom-container-style-3 custom-container-position-1 py-5 mx-0">
                <div class="row">
                    <div class="col">
                        <h2 class="text-color-primary font-weight-semibold text-3 positive-ls-2 mb-0">IT PAYS to DO GOOD</h2>
                        <h3 class="text-color-dark font-weight-bold text-transform-none text-10 mb-5">Make a Difference with Every Trade-In</h3>
                    </div>
                </div>
                <div class="row align-items-center ">
                    <ul class="list list-icons list-icons-style-3">
                        <li><i class="fas fa-check"></i> <strong>Secure, Purpose-Driven ESG:</strong> By trading in your idle or retired IT & Mobile devices, you make an impactful contribution to your organization’s environmental sustainability and corporate governance efforts. TechTradeUp’s secure processing ensures your data is securely erased and you will receive a Certificate of Data Destruction & Erasure.</li>
                        <li><i class="fas fa-check"></i> <strong>Champion the Circular Economy:</strong> Refurbished and recertified devices create a second life for your IT assets, enabling your organization to influence a sustainable circular economy, ensuring technological accessibility and affordability for all.</li>
                        <li><i class="fas fa-check"></i> <strong>Guaranteed Highest Recovery:</strong> Through the TechTradeUp process, devices are graded, data wiped, repaired if necessary then refurbished and recertified for resale through the largest Retailers and VAR’s sold in the USA.</li>
                        <li><i class="fas fa-check"></i> <strong>Bridging the Digital Divide:</strong> Every aspect of the TechTradeUp process is designed to maximize the value of the devices you trade in as they become affordable refurbished and recertified devices to help empower the next user to learn and earn in a digitally inclusive world.</li>
                        <li><i class="fas fa-check"></i> <strong>Donate your Devices:</strong> Donate your working computing devices for students and families caught in the digital divide. Not only will your devices help bridge the digital divide, you'll also be doing your part to prevent e-waste from collecting in landfills.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section border-0 m-0 bg-color-white" id="testimonials">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2 class="text-color-primary font-weight-semibold text-3 positive-ls-2 mb-0">HAPPY CLIENTS</h2>
                <h3 class="text-color-dark font-weight-bold text-transform-none text-10 mb-5">Testimonials</h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <p
                    class="text-4-5 line-height-7 appear-animation text-justify"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="200">
                    TechTradeUp satisfied clients have experienced significant benefits through our innovative technology trade-up programs. From substantial cost savings to enhanced operational efficiency and environmental contributions, our process showcases the real-world impact of partnering with PlanITROI Join us in exploring how businesses like yours have successfully transformed their IT asset disposition programs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="owl-carousel custom-dots-style-1 dots-dark mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'autoplay': true, 'autoplayTimeout': 7000, 'loop': true, 'dots': true, 'nav': false}">
                    <div>
                        <div class="custom-testimonial-style-1 testimonial testimonial-with-quotes testimonial-remove-right-quote testimonial-style-2 text-start mb-0">
                            <blockquote class="pt-0">
                                <p class="text-color-dark font-weight-medium text-5 line-height-6">Thank you so much for your unwavering commitment and exceptional service through the TechTradeUp program this year! Your personalized approach and the efficiency of the program have greatly enhanced our technological capabilities and sustainability efforts. We're truly grateful for the positive experience and look forward to our continued partnership.</p>
                                <div class="divider divider-small divider-small-sm ps-4 ms-3">
                                    <hr>
                                </div>
                                <div class="testimonial-author ps-4 ms-3">
                                    <p class="alternative-font-4 text-start">
                                        <strong class="font-weight-medium text-color-dark opacity-9">
                                            Procurement and Relocations Info Sys Project Manager, Leading Northeast Academic Medical Center
                                        </strong>
                                    </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="custom-testimonial-style-1 testimonial testimonial-with-quotes testimonial-remove-right-quote testimonial-style-2 text-start mb-0">
                            <blockquote class="pt-0">
                                <p class="text-color-dark font-weight-medium text-5 line-height-6">You truly rock - thank you! Our partnership with the Tech Trade Up program has been instrumental in elevating CDW's service offerings to our clients. The value we've been able to deliver to our clients, thanks to your robust support and innovative solutions, is unparalleled. We're thrilled to work with a team that consistently exceeds expectations and drives meaningful results.</p>
                                <div class="divider divider-small divider-small-sm ps-4 ms-3">
                                    <hr>
                                </div>
                                <div class="testimonial-author ps-4 ms-3">
                                    <p class="alternative-font-4 text-start">
                                        <strong class="font-weight-medium text-color-dark opacity-9">Manager, Higher Education Sales Operations, CDW</strong>
                                    </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    @* <div> *@
                    @*     <div class="custom-testimonial-style-1 testimonial testimonial-with-quotes testimonial-remove-right-quote testimonial-style-2 text-start mb-0"> *@
                    @*         <blockquote class="pt-0"> *@
                    @*             <p class="text-color-dark font-weight-medium text-5 line-height-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta culpa esse eius provident qui animi. </p> *@
                    @*             <div class="divider divider-small divider-small-sm ps-4 ms-3"> *@
                    @*                 <hr> *@
                    @*             </div> *@
                    @*             <div class="testimonial-author ps-4 ms-3"> *@
                    @*                 <p class="alternative-font-4 text-start"> *@
                    @*                     <strong class="font-weight-medium text-color-dark opacity-9">John Albert Doe</strong> *@
                    @*                 </p> *@
                    @*             </div> *@
                    @*         </blockquote> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-ptroi" class="section section-height-3 border-0 m-0">
    <div class="container py-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 pe-lg-5 mb-5 mb-lg-0">
                <div class="overflow-hidden">
                    <h2 class="text-color-primary font-weight-semibold text-3 line-height-7 positive-ls-2 mb-0 appear-animation" data-appear-animation="maskUp">ABOUT PLANITROI</h2>
                </div>
                @* <div class="overflow-hidden mb-3"> *@
                @*     <h3 class="text-color-dark font-weight-bold text-transform-none line-height-1 text-10 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Who We Are</h3> *@
                @* </div> *@
                @* <p class="text-color-dark custom-font-secondary text-5-5 line-height-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit a met, consectetur adipiscing elit morbi imperdiet libero. </p> *@
                <p
                    class="text-4-5 line-height-7 appear-animation text-justify"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="600">
                    PlanITROI is a leading provider of secure, purpose-driven IT lifecycle management solutions, delivering complete end-to-end ITAD asset value recovery services and reverse logistics solutions, data security, and real-time transparent reporting and analytics. A long-term, trusted partner to leading corporations, educational institutions, device OEMs and non-profit organizations, PlanITROI leverages the circular economy to bring aﬀordable technology to lower income families, students and businesses, bridging the digital divide so they can learn and earn. PlanITROI’s 100% data secure approach helps organizations achieve critical Environmental Social Governance (ESG) & Corporate Social Responsibility (CSR) goals while recovering the highest possible value for their assets.
                </p>
            </div>
        </div>
    </div>
</section>

@* <section class="section bg-transparent border-0 m-0"> *@
@*     <div class="container py-4"> *@
@*         <div class="row align-items-center text-center"> *@
@*             <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0"> *@
@*                 <img src="img/logos/logo-8.png" alt class="img-fluid" style="max-width: 90px;"/> *@
@*             </div> *@
@*             <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0"> *@
@*                 <img src="img/logos/logo-9.png" alt class="img-fluid" style="max-width: 140px;"/> *@
@*             </div> *@
@*             <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0"> *@
@*                 <img src="img/logos/logo-10.png" alt class="img-fluid" style="max-width: 140px;"/> *@
@*             </div> *@
@*             <div class="col-sm-4 col-xl-2 mb-5 mb-sm-0"> *@
@*                 <img src="img/logos/logo-11.png" alt class="img-fluid" style="max-width: 140px;"/> *@
@*             </div> *@
@*             <div class="col-sm-4 col-xl-2 mb-5 mb-sm-0"> *@
@*                 <img src="img/logos/logo-12.png" alt class="img-fluid" style="max-width: 100px;"/> *@
@*             </div> *@
@*             <div class="col-sm-4 col-xl-2"> *@
@*                 <img src="img/logos/logo-13.png" alt class="img-fluid" style="max-width: 100px;"/> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
</div>

<footer id="contact-us" class="border-0 m-0 p-0">
    <div class="footer-copyright bg-color-black pt-0 pb-5">
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-md-between gap-5">
                @* <div class="col-auto"> *@
                @*     <div class="d-flex align-items-center"> *@
                @*         <div class="d-none d-sm-inline-flex align-items-center border border-top-0 border-bottom-0 border-start-0 pe-4"> *@
                @*             <i class="far fa-clock text-4"></i> *@
                @*             <span class="font-weight-medium mx-2"> Mon - Sat 9:00am - 6:00pm</span> *@
                @*         </div> *@
                @*         <ul class="social-icons social-icons-clean social-icons-medium ms-sm-4"> *@
                @*             <li class="social-icons-facebook"> *@
                @*                 <a href="http://www.facebook.com/" class="text-color-quaternary" target="_blank" title="Facebook"> *@
                @*                     <i class="fab fa-facebook-f"></i> *@
                @*                 </a> *@
                @*             </li> *@
                @*             <li class="social-icons-twitter"> *@
                @*                 <a href="http://www.twitter.com/" class="text-color-quaternary" target="_blank" title="Twitter"> *@
                @*                     <i class="fab fa-twitter"></i> *@
                @*                 </a> *@
                @*             </li> *@
                @*             <li class="social-icons-linkedin"> *@
                @*                 <a href="http://www.linkedin.com/" class="text-color-quaternary" target="_blank" title="Linkedin"> *@
                @*                     <i class="fab fa-linkedin-in"></i> *@
                @*                 </a> *@
                @*             </li> *@
                @*         </ul> *@
                @*     </div> *@
                @* </div> *@
                <div class="row gy-4 justify-content-center">
                    <div class="col-lg-8 align-self-center mb-4 mb-lg-0">
                        <a href="index.html" class="text-decoration-none">
                            <img
                                src="~/img/home/footer.png"
                                width="1000"
                                height="35"
                                class="img-fluid"
                                alt="Footer Logo"/>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="font-weight-bold text-color-primary">Contact us for:</h4>
                        <p class="text-3-5 text-color-white">
                            Program Details & Quotes<br/>
                            Product Pick-Up/Logistics/Status<br/>
                            Reporting<br/>
                            Marketing Materials or Sales Calls<br/>
                            Phone:
                            <a href="tel:18883972444" class="text-decoration-none">
                                1-888-397-2444
                            </a
                            ><br/>
                            Email:
                            <a
                                href="mailto:techtradeup@planitroi.com"
                                class="text-decoration-none">
                                techtradeup&#64;planitroi.com
                            </a
                            >
                        </p>
                    </div>
                </div>

                <div class="col-auto">
                    <p class="text-3-5 text-white">©2024 PlanITROI, Inc. All rights reserved. PlanITROI, the PlanITROI and Tech Trade Up logos, as well as any other referenced product names are trademarks or registered trademarks of PlanITROI, Inc. All other company names, logos, and products mentioned herein are trademarks or registered trademarks of their respective companies.</p>
                </div>
            </div>
        </div>
    </div>
</footer>