<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta
        name="keywords"
        content="Trade Up, Tech Trade, Sell Devices, Income"/>
    <meta
        name="description"
        content="Web Application to Sell devices and track them in the process"/>
    <meta name="author" content="PLANITROI"/>

    <!-- Favicon -->
    <link
        rel="shortcut icon"
        href="~/img/favicon.ico"
        type="image/x-icon"/>
    <link
        rel="apple-touch-icon"
        href="~/img/apple-touch-icon.png"/>

    <!-- Mobile Metas -->
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLora:400,500,700&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/css/demos/demo-one-page-agency.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/css/skins/skin-digital-agency.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>
</head>
<body data-plugin-scroll-spy data-plugin-options="{'target': '.wrapper-spy'}">
<div class="body">
    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAtElement': '#header', 'stickySetTop': '0', 'stickyChangeLogo': false}">
        <div class="header-body">
            <div class="header-container container-fluid px-0">
                <div class="header-row">
                    <div class="header-column w-lg-25pct">
                        <div class="header-row">
                            <div class="header-logo px-4">
                                <a href="#home">
                                    <img alt="Porto One Page Agency" width="123" height="33" src="img/logos/logo_white.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-center w-lg-100pct">
                        <div class="header-row">
                            <div class="header-nav justify-content-center">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="wrapper-spy collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a class="nav-link active" href="#home" data-hash>
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#elegible-devices" data-hash data-hash-offset="0" data-hash-offset-lg="32">
                                                    Elegible Devices
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#it-pays" data-hash data-hash-offset="0" data-hash-offset-lg="32">
                                                    IT Pays
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#services" data-hash data-hash-offset="0" data-hash-offset-lg="32">
                                                    Services
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#testimonials" data-hash data-hash-offset="0" data-hash-offset-lg="32">
                                                    Testimonials
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#about-ptroi" data-hash data-hash-offset="0" data-hash-offset-lg="32">
                                                    About PlanITROI
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#contact-us" data-hash>
                                                    Contact Us
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-column w-100pct w-lg-25pct justify-content-end">
                        <div class="header-row px-4">
                            <div class="d-none d-sm-flex align-items-center">
                                <img width="30" height="30" src="img/demos/one-page-agency/icons/phone.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light me-1'}"/>
                                <a href="tel:18883972444" class="text-color-light font-weight-semibold opacity-hover-9 text-decoration-none">1-888-397-2444</a>
                            </div>
                            <button class="btn header-btn-collapse-nav btn-gradient" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
</div>

<!-- Vendor -->
<script src="~/vendor/plugins/js/plugins.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="~/js/views/view.contact.js"></script>

<!-- Demo -->
<script src="~/js/demos/demo-one-page-agency.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>